<div id="<%= dom_id recipe %>">
  <p id="rcorners">
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p id="rcorners">
    <strong>Instructions:</strong>
    <%= recipe.instructions %>
  </p>

  <p id="rcorners">
    <strong>Meal type:</strong>
    <%= recipe.meal_type %>
  </p>

</div>
