<div class="wrapper_out">
  <div id="<%= dom_id recipe %>">
    <p class="ingredient">
      <strong>Name:</strong>
      <%= recipe.name %>
    </p>

    <p class="ingredient">
      <strong>Instructions:</strong>
      <%= recipe.instructions %>
    </p>

    <p class="ingredient">
      <strong>Meal type:</strong>
      <%= recipe.meal_type %>
    </p>
  </div>

  <div class="wrapper">
    <div class="ingredient">Tomato</div>
    <div class="ingredient">3</div>
    <div class="ingredient">lbs</div>
  </div>  
</div>
