<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this Recipe", recipe %>
    </p>
  <% end %>
</div>

<%= link_to "New Recipe", new_recipe_path %>
