<h1>New Recipe</h1>

<%= render "form", recipe: @recipe, ingredients: @ingredients%>

<% @ingredients.each do | i | %>
  <p><%= i.name %></p>
<% end %>

<br>

<div>
  <%= link_to "Back to Recipes", recipes_path %>
</div>
